@import "global.css";

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* main */

#main-content {
    width: 70vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin: auto;
}

/* view navigation */

#view-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.view-selector {
    padding: 0.5rem;
    border-bottom: 1px solid var(--indigoDye);
}

.view-selector:hover {
    background-color: var(--powderBlue);
    cursor: pointer;
}

.view-selector.active {
    background-color: var(--indigoDye);
    color: var(--powderBlue);
}

/* view window */

.view-window {
    display: none;
    visibility: hidden;
    overflow: scroll;
}


.view-window.active {
    display: block;
    visibility: visible;
}

/* update params view */

.update-params-container {
    display: none;
    visibility: hidden;
}

.update-params-container.active {
    display: block;
    visibility: visible;
}

/* parameter display */

.params-container {
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    max-width: 600px;
}

.table-params {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.vector-params {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.param-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.param-container > p {
    margin: 1rem 0;
    font-weight: lighter;
}

.non-table-params, .submit-parameters {
    margin: auto;
    padding: 1rem;
}

table {
    text-align: right;
    border-collapse: collapse;
}

#data-table {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
}

td {
    vertical-align: bottom;
    padding: 2px;
    border: 0.2px solid var(--indigoDye);
}

td > input {
    width: 40px;
    border: none;
    text-align: right;
}

td > input:focus {
    border: none;
    outline: none;
}

/* update-params view */

#update-params-header-options {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

#update-params-toggle-container {
    background-color: var(--indigoDye);
    border-radius: 4px;
    text-align: center;
}

#update-params-toggle.active {
    color: var(--carolinaBlue)
}

#update-params-toggle {
    color: var(--powderBlue);
    padding: 10px;
}

#update-params-toggle:hover {
    color: var(--carolinaBlue);
    cursor: pointer;
}

#num-populations-selector,
#param-modification-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.param-action-button {
    padding: 0.5rem;
    border: 1px solid var(--indigoDye);
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 1rem;
}

.param-action-button:hover {
    background-color: var(--powderBlue);
}

/* media queries */

@media screen and (max-width: 800px) {
    #main-content {
        width: 100vw;
        padding: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    #main-content {
        max-width: 800px;
    }
}